
    <div class="wrapper">
      <div class="table basic">

        <div class="head_tab"><h2>Name OF ITEM</h2></div>
        <div><p>BY: Sellers name</p></div>
        
        <div class="img-section">
            <img src="./demo.jpeg" alt="" height="250px" width="250px">
        </div>
        
         <div class="description-price">
         <p>DESCRIPTION OF ITEM  {{}}</p>
         <p>PRICE: </p>
        </div>
         <div class="btn"><button>Add to Cart</button></div>
      
        </div>

    </div>
   