<section id="mystorebody">

    <section>
      <div class="mystorecard">
        <h3>Photo</h3>
        <h3>Price</h3>
        <h3>Description</h3>
        <h3>Store Owner</h3>
      </div>
  
        {{#each products as |product|}}
        {{> addedProducts}}
        {{/each}}

    </section>
    <div class="pagenext">
      <button>
        &#x23ee;
      </button>
      <p>Back Next</p>
    <button>
      &#x23ed;
    </button>
   
    </div>
    
  </section>

  <script src="btn.js"></script>