<section id="mystorebody">

    <section>
      <div class="mystorecard">
        <h3>Photo</h3>
        <h3>Posted Date</h3>
        <h3>Price</h3>
        <h3>Description</h3>
        <h3>Edit</h3>
      </div>
      <div class="mystorecard">
        <img src="./Framework/Market Place (2).png" alt="Denim Jeans" />
        <p>Date</p>
        <p class="mystoreprice">$19.99</p>
        <p>Description</p>
        <button>Edit</button>
      </div>

      <div class="mystorecard">
        <img src="./Framework/Market Place.png" alt="Denim Jeans" />
        <p>Date</p>
        <p class="mystoreprice">$19.99</p>
        <p>Description</p>
        <button>Edit</button>
      </div>

      <div class="mystorecard">
        <img src="./Framework/Market Place (3).png" alt="Denim Jeans" />
        <p>Date</p>
        <p class="mystoreprice">$19.99</p>
        <p>Description</p>
        <button>Edit</button>
      </div>
    </section>
    <div class="pagenext">
      <button>
        &#x23ee;
      </button>
      <p>Back Next</p>
    <button>
      &#x23ed;
    </button>
   
    </div>
    

    <script src="./server.js"></script>
  </section>