<section id="mystorebody">

    <section>
      <div class="mystorecard">
        <h3>Photo</h3>
        <h3>Price</h3>
        <h3>Description</h3>
        <h3>Store Owner</h3>
        <h3>  </h3>
      </div>
  
        {{#each products as |product|}}
        {{> addedProducts}}
        {{/each}}

    </section>
    
    
  </section>

  <script src="btn.js"></script>