<section>
    <div class="card">

      <input type="file" class="card"/><br>
      <div class="card-body"><br>
        <input type="text" placeholder="Item name" class="text" /><br />
        <input type="date" placeholder="Todays Date" class="text"/><br />
        <input type="text" placeholder="description" class="text" id="big" /><br>
        <button>Post to Market Place</button>
      </div>
    </div> 
  </section>