<section class="newItem">
  <div class="imageURL">
    <h3> <u>Image: </u></h3>
    <input type="url" name="image" id="image" placeholder="Enter image URL">
    <br>
    <!-- <input type="image" src="./demo.jpeg" alt="" width="300" height="300"> -->
  </div>

  <div>
    <h3> <u>Description: </u></h3>
    <textarea id="description" rows="8" cols="50" placeholder="Description of item"></textarea>
  </div>

  <div>
    <h3><u>Price:</u></h3>
    <input type="number" name="Price" id="price" placeholder="$">
  </div>

  <!-- to get value from textarea -->
  <!-- <script>
    function getDescription() {
      document.getElementById("description").value;
    }
    </script> -->
    <div>
      <button class="addItem" type="submit">ADD ITEM TO STORE</button>
    </div>

  </section>
  </section>